<div id="juegoBox" class="card">
    <!-- EL ICONO SE MUESTRA SEGÚN EL VALOR DE LA VARIABLE ICONPATH -->
    <img class="icono" src="{{iconPath}}" alt="Icono Plataforma">
    <!-- ngClick A MOSTRAR FICHA PARA MOSTRAR LA FICHA DEL JUEGO EN GRANDE EN EL MAIN -->
    <div (click)="mostrarFicha()" class="imageDiv">
        <!-- LA IMAGEN SE MUESTRA SEGÚN EL VALOR DE LA VARIABLE IMAGEPATH -->
        <img class="card-img-top" src="{{imagePath}}" alt="Imagen juego">
    </div>
    <div class="card-body text-center">
        <div id="tituloJuegoBox">
            <marquee direction="right" width="140px" height="37px" behavior="alternate" scrolldelay="600">
                <h5 class="tituloJuego">{{juego.nombre}}</h5>
            </marquee>
        </div>
        <p>{{juego.precio}}€ / <b>{{juego.lanzamiento}}</b></p>
        <!-- ngClick PARA COMPRAR, AÑADIENDO AL CARRITO UNA UNIDAD DEL JUEGO -->
        <a href="#" (click)="comprar()" class="boton btn btn-primary">Comprar</a>
    </div>
</div>