<div id="bienvenidaBox" class="card">


    <!-- ESTA CLASE DE BOOTSTRAP SE UTILIZA EN FORMULARIOS PARA SEPARAR LOS BOTONES, PERO NOS SIRVE 
    PARA MOSTRAR VISUALMENTE UNA LÍNEA SEPARADORA ENTRE APARTADOS -->
    <div class="card-action">
        <p>
            Web proyecto para la asignatura de Acceso a Datos en el 2º curso del ciclo formativo de grado superior
            DAM impartido en Salesianos Pizarrales San José.
            El proyecto está construido mediante el framework MEAN Stack, compuesto por: Angular (Typescript), ExpressJS (Node.js), MongoDB.
        </p>
    </div>

    <div class="card-action">
        <div>
            <p class="titulo">
                ACCESO POR FILTROS Y CATEGORÍAS A LA TOTALIDAD DE TÍTULOS (CUALQUIER USUARIO)
            </p>
        </div>

        <div class="descripcionFuncionalidad">
            <p>La web ofrece la posibilidad a usuarios registrados y no registrados de
                visualizar los títulos disponibles y no en-stock actual presentes en la misma. <br><br> Dispone de
                distintos
                filtros o categorías, ya sea por búsqueda por nombre, género, plataforma o año de lanzamiento. <br><br>
                Además, pueden visualizarse los títulos como cartas simplificadas o fichas completas.
            </p>
        </div>
        <div>
            <img src="../../../../assets/images/bienvenida/todos.png" alt="">
        </div>
    </div>

    <div class="card-action">
        <div>
            <p class="titulo">
                AÑADIR JUEGOS AL CARRITO Y CARRITO SIMPLE (CLIENTE)
            </p>
        </div>

        <div class="descripcionFuncionalidad">
            <p>
                Los usuarios registrados pueden añadir juegos al carrito de dos formas: <br> <br>
                - Mediante clic en el botón para ello en las cartas simples. <br> <br>
                - Mediante clic en el botón para ello en la ficha completa del juego a la que podemos acceder haciendo
                clic en la imagen de la carta simple. <br><br>
                Cada clic añade una unidad del mismo, aunque pueden añadirse, sustraerse más unidades o eliminar todas
                en la previsualización del carrito de la parte derecha de la web.
            </p>
        </div>
        <div>
            <img style="margin-top: 2vw;" src="../../../../assets/images/bienvenida/fichaCarritoSimple.png" alt="">
        </div>
    </div>

    <div class="card-action">
        <div>
            <p class="titulo">
                DESGLOSE DE CARRITO Y FORMALIZACIÓN DE COMPRA (CLIENTE)
            </p>
        </div>

        <div class="descripcionFuncionalidad">
            <p>
                El desglose de carrito muestra la información del mismo de manera más detallada y permite finalizar la
                compra revisando el precio de cada artículo y el final. <br> <br>
                El sistema además comprueba si hay stock suficiente para satisfacer el pedido del usuario.
            </p>
        </div>
        <div>
            <img src="../../../../assets/images/bienvenida/carrito.png" alt="">
        </div>
    </div>

    <div class="card-action">
        <div>
            <p class="titulo">
                COMPRAS (CLIENTE)
            </p>
        </div>

        <div class="descripcionFuncionalidad">
            <p style="height: 8vw; margin-top: 2vw;">
                Los usuarios registrados de la web pueden acceder a su historial de compras, donde podrán consultar las
                claves proporcionadas para canjear los videojuegos de sus pedidos.
            </p>
        </div>
        <div>
            <img src="../../../../assets/images/bienvenida/compras.png" alt="">
        </div>
    </div>

    <div class="card-action">
        <div>
            <p class="titulo">
                ALTA DE JUEGOS (ADMINISTRADOR)
            </p>
        </div>

        <div class="descripcionFuncionalidad">
            <p style="height: 9vw; margin-top: 4vw;">
                El administrador del sitio web puede añadir juegos al catálogo previsualizando la apariencia de la ficha
                simple del juego que se esté añadiendo.
            </p>
        </div>
        <div>
            <img src="../../../../assets/images/bienvenida/altaJuegos.png" alt="">
        </div>
    </div>

    <div class="card-action">
        <div>
            <p class="titulo">
                LISTADO, EDICIÓN Y BORRADO DE JUEGOS (ADMINISTRADOR)
            </p>
        </div>

        <div class="descripcionFuncionalidad">
            <p>
                El administrador tiene acceso a la lista de todos los títulos presentes en la base de datos de la web
                para un vistazo rápido y detallado. <br><br>
                El apartado presenta un editor para modificar los datos de los mismos, útil por ejemplo, en caso de
                necesitar añadir stock manualmente.
            </p>
        </div>
        <div>
            <img src="../../../../assets/images/bienvenida/listaJuegos.png" alt="">
        </div>
    </div>

    <div class="card-action">
        <div>
            <p class="titulo">
                LISTADO, EDICIÓN Y BORRADO DE USUARIOS (ADMINISTRADOR)
            </p>
        </div>

        <div class="descripcionFuncionalidad">
            <p style="height: 10vw; margin-top: 4vw;">
                Función similar a la anterior, con la que el administrador puede visualizar, modificar o eliminar
                usuarios de la base de datos de la web.
            </p>
        </div>
        <div>
            <img src="../../../../assets/images/bienvenida/listaUsuarios.png" alt="">
        </div>
    </div>

</div>