/* PONEMOS QUE TODOS LOS HIJOS DEL MENU NO ADQUIERAN ESTAS CARACTERISTICAS PARA QUE LA FUENTE DE LA FICHA NO SE PONGA BLANCA */
.nav-side-menu :not(.nav-side-menu *){
    overflow: auto;
    font-family: verdana;
    font-weight: 200;
    background-color: #2e353d;
    top: 0px;
    color: #e1ffff;
}

#vistaPreviaBox{
  margin-left: 1.5vw;
} 
      
.brand {
    font-size: 1.2vw;
    background-color: #23282e;
    line-height: 2.7vw;
    display: block;
    text-align: center;
    color: #e1ffff;
    margin-bottom: 1vw;
  }