#carritoBox {
    width: 100%;
    height: fit-content;
    max-height: 20vw;
    padding: 0vw;
    overflow-y: auto;
  }

    
.brand {
  font-size: 1.2vw;
  background-color: #23282e;
  line-height: 2.7vw;
  display: block;
  text-align: center;
}

#carritoVacioTexto{
  font-size:  0.8vw;
}


/* MENU */
.nav-side-menu{
  font-family: verdana;
  font-weight: 200;
  background-color: #2e353d;
  top: 0px;
  color: #e1ffff;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  line-height: 2.5vw;
  cursor: pointer;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li{
  background-color: #181c20;
  border: none;
  line-height: 1.6vw;
  margin-left: 0vw;
}


.nav-side-menu li{
  padding-left: 0vw;
  border-left: 0.25vw solid #2e353d;
  border-bottom: 0.25vw solid #23282e;
}

.nav-side-menu li a{
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li a i{
  width: 1.5vw;
}

.nav-side-menu li:hover{
  border-left: 0.4vw solid #797979;
  background-color: #4f5b69;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-side-menu .menu-list .menu-content {
  display: block;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/* DESGLOSADO */


#listaJuegosBox{
  background-color: rgba(238, 238, 238, 0);
  width: 42vw;
  margin-top: 0.5vw;
}

.icono{
  width: 1.5vw;
  height: 1.5vw;
}

.portada{
  width: 3vw;
  height: 4vw;
}

td, th {
  color: rgb(255, 255, 255);
  font-size: 0.7vw;
  border-bottom: 0.3vw solid #23282e;
}

th {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}



.textoJustificado{
  text-align: justify;
  text-justify: inter-word;
}



/* VENTANA QUE SE MUESTRA EN EL MAIN AL REALIZAR LA COMPRA CORRECTAMENTE */
#mensajeBox{
  background-color: rgb(85, 102, 116);
  color: white;
  font-size: 0.8vw;
  padding: 1vw;
  width: 42.5vw;
  height: 6.5vw;
}

#titulo {
  font-weight: bold;
  text-align: center;
}