<div id="altaJuegoBox" class="card">
    <form #juegoForm="ngForm">

        <div class="card-content">
            <!-- AL MÉTODO RELACIONADO CON ngSubmit HABRÁ QUE PASARLE EL FORMULARIO LUEGO -->
            <p>
                Nombre:
            </p>
            <div class="apartadoForm">
                <!-- ESTE CAMPO OCULTO NOS PERMITE MANDAR EL ID SI LE DAMOS AL BOTÓN EDITAR
                    DE TAL FORMA QUE EN EL MISMO FORMULARIO VAMOS A PODER DAR DE ALTA USUARIOS
                    SI NO ENVIAMOS EL ID (SI NO LE DAMOS A EDITAR) Y EDITAR USUARIOS SI LE PASAMOS UN ID 
                    (AL HACER CLIC EN EL ICONO EDITAR)  -->
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="objetoJuegosService.juegoSeleccionado._id">

                <input class="white-text" type="text" name="nombre" #nombre="ngModel"
                    [(ngModel)]="objetoJuegosService.juegoSeleccionado.nombre"
                    placeholder="Introduzca el nombre del videojuego">
                <!-- El ngModel APUNTA AL OBJETO DE LA CLASE EmpleadosServices QUE CREAMOS EN EL CONSTRUCTOR DEL TS DE ESTA VISTA -->
                <!-- empleadoSeleccionado ES EL OBJETO DE LA CLASE Empleado QUE TENEMOS INSTANCIADO EN EmpleadosService  -->
            </div>

            <p>
                Plataforma:
            </p>
            <div class="apartadoForm">
                <select style="display: block;" name="plataforma" #nombre="ngModel"
                    [(ngModel)]="objetoJuegosService.juegoSeleccionado.plataforma"
                    placeholder="Introduzca la plataforma en la que se ejecuta el videojuego">
                    <option value="Steam">Steam</option>
                    <option value="Playstation 5">Playstation 5</option>
                    <option value="Playstation 4">Playstation 4</option>
                    <option value="Xbox Series">Xbox Series X/S</option>
                    <option value="Xbox One">Xbox One</option>
                    <option value="Nintendo Switch">Nintendo Switch</option>
                </select>
            </div>

            <p>
                Género:
            </p>
            <div class="apartadoForm">
                <select style="display: block;" name="genero" #nombre="ngModel"
                    [(ngModel)]="objetoJuegosService.juegoSeleccionado.genero"
                    placeholder="Introduzca el género principal del videojuego">
                    <option value="Acción">Acción</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Cartas">cartas</option>
                    <option value="Conducción">Conducción</option>
                    <option value="Deportes">Deportes</option>
                    <option value="Gestión">Gestión de Recursos</option>
                    <option value="Life-like">Life-Like</option>
                    <option value="Lucha">Lucha</option>
                    <option value="Metroidvania">Metroidvania</option>
                    <option value="Shooter">Shooter</option>
                    <option value="Rogue-lite">Rogue-Lite</option>
                    <option value="Rol">Rol</option>
                </select>
            </div>

            <p>
                Año de lanzamiento:
            </p>
            <div class="apartadoForm">
                <input class="white-text" type="number" min="1990" max="2030" step="1" name="lanzamiento"
                    #nombre="ngModel" [(ngModel)]="objetoJuegosService.juegoSeleccionado.lanzamiento"
                    placeholder="Introduzca el año de lanzamiento del videojuego">
            </div>

            <p>
                Desarrolladora:
            </p>
            <div class="apartadoForm">
                <input class="white-text" type="text" name="desarrolladora" #nombre="ngModel"
                    [(ngModel)]="objetoJuegosService.juegoSeleccionado.desarrolladora"
                    placeholder="Introduzca la empresa desarrolladora del videojuego">
            </div>

            <p>
                Reseña:
            </p>
            <div class="apartadoForm">
                <textarea class="white-text" type="text" name="resena" #nombre="ngModel"
                    [(ngModel)]="objetoJuegosService.juegoSeleccionado.resena" placeholder="Introduzca la reseña" style="resize: vertical;"></textarea>
            </div>

            <p>
                Precio:
            </p>
            <div class="apartadoForm">
                <input class="white-text" type="number" min="0" max="9999999" step="1" name="precio" #nombre="ngModel"
                    [(ngModel)]="objetoJuegosService.juegoSeleccionado.precio"
                    placeholder="Introduzca el precio del videojuego">
            </div>

            <p>
                Stock:
            </p>
            <div class="apartadoForm">
                <input class="white-text" type="number" min="0" max="9999999" step="1" name="stock" #nombre="ngModel"
                    [(ngModel)]="objetoJuegosService.juegoSeleccionado.stock"
                    placeholder="Introduzca el nº de unidades del videojuego">
            </div>

            <p>
                Imagen:
            </p>
            <div class="apartadoForm">
                <!-- LE PONEMOS UN onchange PARA QUE CADA VEZ QUE CAMBIE EL TEXTO ACTUALICE LA IMAGEN -->
                <input class="white-text" type="text" name="imagen" #nombre="ngModel"
                    [(ngModel)]="objetoJuegosService.juegoSeleccionado.imagen"
                    placeholder="Introduzca el nombre de la imagen del videojuego, debe estar ubicada en la carpeta assets">
            </div>
        </div>

        <div class="card-action">
            <div class="input-field apartadoForm">
                <button class="btn btn-primary right" (click)="reiniciarFormulario(juegoForm)">VACIAR
                    CAMPOS</button>
                <button class="btn btn-primary right" (click)="addJuego(juegoForm)">ALTA JUEGO</button>
                <!-- EL ENVIAR NO HACE FALTA PONERLE NADA, RECOGE AUTOMATICAMENTE QUE ENVIA-->
            </div>
        </div>

    </form>
</div>