<!-- Footer -->
<footer id="footerBox">
    <div id="copyright">© 2020-2021 Copyright: Carlos Gallego García</div>
    <div id="footerInfo" >
            <div id="refBox">
                <h6>Carlos Gallego García</h6>
                <hr>
                <p>Web proyecto para la asignatura de Acceso a Datos en el 2º curso del ciclo formativo de grado
                    superior DAM impartido en Salesianos Pizarrales San José.<br>El proyecto está construido mediante el
                    framework MEAN Stack, compuesto por: Angular (Typescript), ExpressJS (Node.js), MongoDB.</p>
            </div>

            <div id="linksBox">
                <h6>Links de utilidad</h6>
                <hr>
                <p>
                    <a href="https://stackoverflow.com/">Stack Over Flow</a>
                </p>
                <p>
                    <a href="https://www.google.com/">Google</a>
                </p>
                <p>
                    <a href="https://www.isalesianos.com/login/index.php">Aula Virtual</a>
                </p>

            </div>

            <div id="contactoBox">
                <h6>Contacto</h6>
                <hr>
                <p>
                    <i class="fa fa-home"></i> Salamanca, 37004, España
                </p>
                <p>
                    <i class="fa fa-envelope"></i> GallegoGC92@gmail.com
                </p>
                <p>
                    <i class="fa fa-phone"></i> + 34 620 33 95 23
                </p>

            </div>


    </div>

</footer>