hr, p {
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
}

h6 {
    text-transform: uppercase;
    font-size: 0.9vw !important; 
}

#footerBox{
    background-color: #2e353d;
    height: fit-content;
    text-align: center;
    font-size: 0.8vw;
    clear: both;
    color: white;
}

#copyright{
    font-weight: bold;
    line-height: 2.5vw;
    background-color: #23282e;
}

#footerInfo{
    padding-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e353d;
    width: 57vw;
    height: 9vw;
    
}

#refBox{
    width: 30vw;
    float: left;
}

#refBox hr{
    width: 4vw;
}

#linksBox{
    width: 12vw;
    float: left;
}

#linksBox hr{
    width: 4vw;
}

#contactoBox{
    width: 15vw;
    float: left;
}

#contactoBox hr{
    width: 3vw;
}
