span{
  font-size: 0.9vw;
}



/* MENU */
.nav-side-menu {
  font-family: verdana;
  font-size: 0.8vw;
  color: #ffffff;
  overflow-y: auto;
  font-family: verdana;
  color: #e1ffff;
}
  

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  line-height: 2.5vw;
  cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 0.3vw;
  padding-right: 0.5vw;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li{
  background-color: #181c20;
  border: none;
  line-height: 1.6vw;
  margin-left: 0vw;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover{
  background-color: #000000;
}

/* SUBMENUS */
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before{
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 1vw;
  padding-right: 0.6vw;
  vertical-align: middle;
}

.nav-side-menu li{
  padding-left: 0vw;
  border-left: 0.25vw solid #2e353d;
  border-bottom: 0.25vw solid #23282e;
}

.nav-side-menu li a{
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li a i{
  padding-left: 0.4vw;
  width: 2vw;
  padding-right: 0.8vw;
}

.nav-side-menu li:hover{
  border-left: 0.4vw solid #797979;
  background-color: #4f5b69;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-side-menu .menu-list .menu-content {
  display: block;
}

.brand {
  font-size: 1.2vw;
  background-color: #23282e;
  line-height: 2.7vw;
  display: block;
  text-align: center;
}


