#loginBox {
  width: 100%;
  height: 40%;
  padding: 6%;
  font-size: 0.9vw;
  background-color: #2e353d;
  font-family: verdana;
  color: #ffffff;

  }

#cerrarSesionBox{
  text-align: center;
}

#loginBox p {
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-size: 0.9vw;
  font-weight: bold;
}

#loginBox a {
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-size: 0.8vw;
  font-weight: bold;
}

form input{
  width: 10vw;
  height: 2vw;
  font-size: 0.9vw;
  padding: 0vw;
  margin: 0vw;
  border-bottom: 0.1vw white solid;
}

label{
  font-size: 0.9vw;
  color: #ffffff;
}

.btn{
  height: 2vw;
  width: 8vw;
  font-size: 0.9vw;
  padding: 0.2vw;
  line-height: 2vw;
}

p{
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-size: 0.9vw;
  font-weight: bold;
}

#btnRegistro {
  color: rgb(248, 71, 100);
  padding: 0vw;
  margin: 0vw;
}

.brand {
  font-size: 1.2vw;
  background-color: #23282e;
  color: #ffffff;
  line-height: 2.7vw;
  display: block;
  text-align: center;
}

.elementoBox{
  margin-top: 0.1vw;
  margin-bottom: 0.9vw;
  font-size: 0.2vw;
  line-height: 1.5vw;
  
}

/* MENU */
.nav-side-menu {
  font-family: verdana;
  font-size: 0.8vw;
  color: #ffffff;
  overflow-y: auto;
  font-family: verdana;
  color: #e1ffff;
  overflow-y: hidden;
  height: 2.7vw;
}
  
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  line-height: 2.5vw;
  cursor: pointer;

}

.nav-side-menu li{
  padding-left: 0vw;
  border-left: 0.25vw solid #2e353d;
  border-bottom: 0.25vw solid #23282e;
}

.nav-side-menu li a{
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li a i{
  padding-left: 0.4vw;
  width: 2vw;
  padding-right: 0.8vw;
}

.nav-side-menu li:hover{
  border-left: 0.4vw solid #797979;
  background-color: #4f5b69;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-side-menu .menu-list .menu-content {
  display: block;

}
